.Rproj*
cnn_texture_appearance.Rproj
cache/*
figure/*
texture_discrimination_manuscript-concordance.tex

texture_discrimination_manuscript.log

*.gz

results/experiment_11/model_fit.RData

results/experiment_12/model_fit.RData
